# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching & Virtual Environments
.pytest_cache/
.venv/
venv/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp

# Operating System files
.DS_Store
Thumbs.db

